<main class="">

  <div class="mainsection">
    <div class="title_container">
      <h1 class="page-title">Utveckling av boendeform</h1>
      <p class="source">(Källa: SCB)</p>
    </div>

    <div class="container-fluid mainchart">
      <div id="totalhousing_chart">
      </div>
    </div>

    <div class="container-fluid subchart">
      <div id="gender_popgrowth_chart">
      </div>
    </div>
  </div>

  <div class="story_button_container container-fluid">
    <div class="story_button_row row">
      <a href="/population_growth" id="button_1" class="story_button btn btn-primary col-md-4 col-4" role="button">
        <p class="story_button_text">Vad består ökningen av?</p>
      </a>
      <button onclick="window.location.href='/dashboard';" id="button_2" class="story_button btn btn-success col-md-4 col-4">
        <p class="story_button_text">Tillbaka till översikten</p>
      </button>
      <button id="button_3" class="story_button btn btn-danger col-md-4 col-4">
        <a href="#section_chartcontainer-population">
        <p class="story_button_text">Hur har antalet invandrade/utvandrade utvecklats?</p>
      </button>
    </div>
  </div>

</main>
