<main class="">

  <div id="section_Population" class="mainsection">
    <div class="title_container">
      <h1 class="page-title">Befolkningsmängd per kön</h1>
      <p class="source">(Källa: SCB)</p>
    </div>

    <div id="section_chartcontainer-population" class="container-fluid mainchart">
      <div id="gender_pop_chart">
      </div>
    </div>

    <div class="container-fluid subchart">
      <div id="gender_popgrowth_chart">
      </div>
    </div>
  </div>

  <div class="story_button_container container-fluid">
    <div class="story_button_row row">
      <a href="/population_growth" id="button_1" class="story_button btn btn-primary col-md-4 col-4" role="button">
        <p class="story_button_text">Vad består ökningen av?</p>
      </a>
      <button onclick="window.location.href='/dashboard';" id="button_2" class="story_button btn btn-success col-md-4 col-4">
        <p class="story_button_text">Tillbaka till översikten</p>
      </button>
      <button id="button_3" class="story_button btn btn-danger col-md-4 col-4">
        <a href="#section_chartcontainer-population">
        <p class="story_button_text">Hur har antalet invandrade/utvandrade utvecklats?</p>
      </button>
    </div>
  </div>

</main>

<!-- Charts -->
<script>
  male_pop = $(pop_df.male_pop)
  female_pop = $(pop_df.female_pop)
  total_pop = $(pop_df.total_pop)
  max_pop = $(popnow_df.total_pop)
  yaxis_max = (Math.round(max_pop/1000000)+2)*1000000

var options = {
              series: [{
                        name: 'Kvinnor',
                        type: 'line',
                        data: female_pop
              },{
                        name: 'Män',
                        type: 'line',
                        data: male_pop
              }],
              colors: [
                        yellows[5],
                        greens[5]],
              chart:  {
                      height: '100%',
                      type: 'line',
                      zoom: {
                            enabled: true
                      },
                      toolbar: {
                           show: true,
                           offsetX: 0,
                           offsetY: 0,
                           tools: {
                             download: false,
                             selection: true,
                             zoom: true,
                             zoomin: false,
                             zoomout: false,
                             pan: true,
                             reset: true
                           }
                      }
                    },
              dataLabels: {
                          enabled: false
              },
              stroke: {
                      curve: 'smooth',
                      width: [3, 3]
              },
              title:  {
                      text: '',
                      align: 'left'
              },
              grid: {
                    row: {
                          colors: ['transparent'], // takes an array which will be repeated on columns
                          opacity: 0.5
                          },
              },
              xaxis: {
                      type: 'numeric',
                      categories: $(pop_df.year),
                      tickAmount: 1,
                      position: 'bottom',
                      labels: {
                               show: true
                      },
                      title: {
                              text: 'Årtal'
                      },
                      tooltip: {
                                enabled: false,
                      },
              },
              legend: {
                      position: 'top',
                      horizontalAlign: "center"
              },
              tooltip: {
                x: {
                  show: true
                },
              },
              };

      var gender_pop_chart = new ApexCharts(document.querySelector("#gender_pop_chart"), options);
      gender_pop_chart.render();
  </script>

<script>
  net_births = $(popgrowth_df.net_births)
  net_migration = $(popgrowth_df.net_migration)
  net_population_growth = $(popgrowth_df.net_population_growth)

  max_popgrowth = Math.max(...$(popgrowth_df.net_population_growth))
  yaxis_max = (Math.round(max_popgrowth/10000)+1)*10000

var options = {
              series: [{
                        name: 'Total befolkningsökning',
                        type: 'line',
                        data: net_population_growth
              },{
                        name: 'Netto invandrade/utvandrade',
                        type: 'bar',
                        data: net_migration
              },{
                        name: 'Netto födda/döda',
                        type: 'bar',
                        data: net_births
              }],
              colors: [
                      '#000000',
                      blues[3],
                      reds[3]
              ],
              chart:  {
                      id: 'population_growth',
                      height: '100%',
                      type: 'line',
                      stacked: true,
                      zoom: {
                            enabled: true
                      },
                      toolbar: {
                           show: true,
                           offsetX: 0,
                           offsetY: 0,
                           tools: {
                             download: false,
                             selection: true,
                             zoom: true,
                             zoomin: false,
                             zoomout: false,
                             pan: true,
                             reset: true
                           }
                      }
                    },
              dataLabels: {
                          enabled: false
              },
              stroke: {
                      curve: 'straight',
                      width: 2
              },
              title:  {
                      text: 'Vad beror befolkningsökningen på?',
                      align: 'center'
              },
              grid: {
                    row: {
                          colors: ['transparent'], // takes an array which will be repeated on columns
                          opacity: 0.5
                          },
              },
              xaxis: {
                      type: 'numeric',
                      categories: $(popgrowth_df.year),
                      tickAmount: 1,
                      labels: {
                              show: true
                      },
                      title: {
                              text: 'Årtal'
                      },
                      tooltip: {
                                enabled: false,
                      },
              },
              yaxis: {
                max: yaxis_max,
                min: -30000,
                forceNiceScale: true
              },
              legend: {
                      position: 'top',
                      horizontalAlign: "center"
              },
              tooltip: {
                x: {
                  show: true
                },
              },
              plotOptions: {
                            bar: {
                              columnWidth: '90%',
                              startingShape: 'flat',
                              endingShape: 'flat',
                            }
              },
              };

      var gender_popgrowth_chart = new ApexCharts(document.querySelector("#gender_popgrowth_chart"), options);
      gender_popgrowth_chart.render();
  </script>
