<main class="container-fluid mainsection dashboard_main">

  <div id="title_row" class="row">
    <div id="main-title" class="col-5">
      <h1>Befolkningsmängd Sverige, $(popnow_df.year):</h1>
    </div>
    <div id="population_total" class="pop_link col-7">
      <h1>$(popnow_df.total_pop)</h1>
      <a id="pop_link" class="title_link" href="/population">Se utveckling >>></a>
    </div>
  </div>

  <div id="first_dash_row" class="dashboard_row row">
    <div class="col-3">
      <div class="chart_box">
        <div id="gender_piechart">
        </div>
        <a id="gender_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
    <div class="col-6">
      <div class="chart_box">
        <div id="ages_chart">
        </div>
        <a id="ages_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
    <div class="col-3">
      <div class="chart_box">
        <div id="dom_foreignborn_piechart">
        </div>
        <a id="dom_for_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
  </div>

  <div id="second_dash_row" class="dashboard_row row">
    <div class="col-4">
      <div class="chart_box">
        <div id="education_chart">
        </div>
        <a id="education_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
    <div class="col-4">
      <div class="chart_box">
        <div id="income_chart">
        </div>
        <a id="income_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
    <div class="col-4">
      <div class="chart_box">
        <div id="housing_chart">
        </div>
        <a id="housing_link" class="lower_left_link" href="/population">Se utveckling >>></a>
      </div>
    </div>
  </div>

</main>

<!--- Charts --->
<script>
male_pop = $(popnow_df.male_pop)
female_pop = $(popnow_df.female_pop)

var options = {
              series: [male_pop, female_pop],
              labels: ['Män', 'Kvinnor'],
              colors: [greens[5], yellows[5]],
              chart:  {
                      height: '100%',
                      type: 'donut',
                      zoom: {
                            enabled: true
                      },
                      toolbar: {
                           show: true,
                           offsetX: 0,
                           offsetY: 0,
                           tools: {
                             download: false,
                             selection: true,
                             zoom: true,
                             zoomin: false,
                             zoomout: false,
                             pan: true,
                             reset: true
                           }
                      }
                    },
              dataLabels: {
                          enabled: true
              },
              title:  {
                      text: 'Könsfördelning',
                      align: 'center'
              },
              legend: {
                      position: 'top',
                      inverseOrder: true,
                      fontSize: '10px'
              },
              plotOptions: {
                            pie: {
                              donut: {
                                size: '50%'
                              }
                            }
              },
              };

  var gender_piechart = new ApexCharts(document.querySelector("#gender_piechart"), options);
  gender_piechart.render();
</script>

<script>
total_ages = $(agesnow_df.total_ages)
ages_labels = $(agesnow_df.age)

var options = {
            series: [{
                      name: 'Totalt',
                      type: 'bar',
                      data: total_ages
            }],
            chart:  {
                    height: '100%',
                    type: 'bar',
                    stacked: true,
                    zoom: {
                          enabled: true
                    },
                    toolbar: {
                         show: true,
                         offsetX: 0,
                         offsetY: 0,
                         tools: {
                           download: false,
                           selection: true,
                           zoom: true,
                           zoomin: false,
                           zoomout: false,
                           pan: true,
                           reset: true
                         }
                    }
                  },
            dataLabels: {
                        enabled: false
            },
            title:  {
                    text: 'Åldersfördelning',
                    align: 'center'
            },
            grid: {
                  row: {
                        colors: ['transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                        },
            },
            xaxis: {
                    type: 'category',
                    categories: ages_labels,
                    tickAmount: 9,
                    title: {
                      text: "Ålder",
                      offsetY: -15
                    }
            },
            };

var ages_chart = new ApexCharts(document.querySelector("#ages_chart"), options);
ages_chart.render();
</script>

<script>
foreign_born = $(domestic_foreign_bornnow_df.foreign_born)
dom_born_two_foreign_parents = $(domestic_foreign_bornnow_df.dom_born_two_foreign_parents)
dom_born_one_foreign_parent = $(domestic_foreign_bornnow_df.dom_born_one_foreign_parent)
dom_born = $(domestic_foreign_bornnow_df.dom_born)

var options = {
            series: [foreign_born,
                    dom_born_two_foreign_parents,
                    dom_born_one_foreign_parent,
                    dom_born],
            labels: ['Utrikes födda',
                      'Inrikes födda - föräldrar utrikes födda',
                      'Inrikes födda - en förälder utrikes född',
                      'Inrikes födda'],
            colors: [blues[0], greens[4], yellows[4], reds[0]],
            chart:  {
                    height: '100%',
                    type: 'pie',
                    zoom: {
                          enabled: true
                    },
                    toolbar: {
                         show: true,
                         offsetX: 0,
                         offsetY: 0,
                         tools: {
                           download: false,
                           selection: true,
                           zoom: true,
                           zoomin: false,
                           zoomout: false,
                           pan: true,
                           reset: true
                         }
                    }
                  },
            dataLabels: {
                        enabled: true
            },
            title:  {
                    text: 'Utländsk/svensk bakgrund',
                    align: 'center'
            },
            legend: {
                    position: 'top',
                    inverseOrder: true,
                    fontSize: '10px'
            },
            };

var dom_foreignborn_piechart = new ApexCharts(document.querySelector("#dom_foreignborn_piechart"), options);
dom_foreignborn_piechart.render();
</script>

<script>
edu_level = $(edu_level_grouped.edu_level)
edu_labels = $(edu_level_grouped.edu_labels)
count = $(edu_level_grouped.count)

var options = {
            series: [{
                      name: "Antal",
                      data: count
            }],
            colors: [oranges[0], oranges[3], oranges[6], oranges[9], oranges[12], oranges[15], oranges[18], oranges[21]],
            chart:  {
                    height: '100%',
                    type: 'bar',
                    zoom: {
                          enabled: true
                    },
                    toolbar: {
                         show: true,
                         offsetX: 0,
                         offsetY: 0,
                         tools: {
                           download: false,
                           selection: true,
                           zoom: true,
                           zoomin: false,
                           zoomout: false,
                           pan: true,
                           reset: true
                         }
                    }
                  },
            dataLabels: {
                        enabled: false
            },
            title:  {
                    text: 'Utbildningsnivå',
                    align: 'center'
            },
            subtitle: {
                      text: 'Personer 25-74 år',
                      align: 'center'
            },
            legend: {
                    show: false
            },
            xaxis: {
                    categories: edu_labels,
                    labels: {
                             show: true,
                             rotate: -15,
                             rotateAlways: true,
                             offsetX: -3,
                             style: {
                               fontSize: '10px'
                             },

                    }
            },
            plotOptions: {
                          bar: {
                            barHeight: '90%',
                            horizontal: true,
                            distributed: true,
                            dataLabels: {
                              position: 'bottom'
                              },
                            }
            },
};

    var education_chart = new ApexCharts(document.querySelector("#education_chart"), options);
    education_chart.render();
</script>

<script>
total_income = $(incomenow_df.total_income)
income_brackets = $(incomenow_df.income)

var options = {
              series: [{
                        name: 'Antal',
                        type: 'bar',
                        data: total_income
              }],
              colors: [purples[3]],
              chart:  {
                      height: '100%',
                      type: 'bar',
                      zoom: {
                            enabled: true
                      },
                      toolbar: {
                           show: true,
                           offsetX: 0,
                           offsetY: 0,
                           tools: {
                             download: false,
                             selection: true,
                             zoom: true,
                             zoomin: false,
                             zoomout: false,
                             pan: true,
                             reset: true
                           }
                      }
                    },
              dataLabels: {
                          enabled: false
              },
              title:  {
                      text: 'Inkomstfördelning (tkr)',
                      align: 'center'
              },
              subtitle: {
                        text: 'Personer 20+ år',
                        align: 'center'
              },
              legend: {
                      show: false,
                      position: 'top',
                      inverseOrder: true,
                      fontSize: '8px',
                      markers: {
                                width: 8,
                                height: 8,
                              },
              },
              xaxis: {
                      type: 'category',
                      categories: income_brackets,
                      labels: {
                        style: {
                          fontSize: '9px'
                        },
                      },

              },
              };

var income_chart = new ApexCharts(document.querySelector("#income_chart"), options);
income_chart.render();
</script>



<script>
housing_labels = $(housing_grouped.housing_labels)
total_housing = $(housing_grouped.total_housing)

var options = {
            series: [{
                      name: "Antal",
                      data: total_housing
            }],
            colors: [turquoises[0], turquoises[3], turquoises[6], turquoises[9], turquoises[12], turquoises[15], turquoises[18], purples[21]],
            chart:  {
                    height: '100%',
                    type: 'bar',
                    zoom: {
                          enabled: true
                    },
                    toolbar: {
                         show: true,
                         offsetX: 0,
                         offsetY: 0,
                         tools: {
                           download: false,
                           selection: true,
                           zoom: true,
                           zoomin: false,
                           zoomout: false,
                           pan: true,
                           reset: true
                         }
                    }
                  },
            dataLabels: {
                        enabled: false
            },
            title:  {
                    text: 'Boendeform',
                    align: 'center'
            },
            legend: {
                    show: false
            },
            xaxis: {
                    categories: housing_labels,
                    labels: {
                             show: true,
                             rotate: -15,
                             rotateAlways: true,
                             offsetX: -3,
                             style: {
                               fontSize: '10px'
                             },

                    },
            },
            plotOptions: {
                          bar: {
                            barHeight: '90%',
                            horizontal: true,
                            distributed: true,
                            dataLabels: {
                              position: 'bottom'
                              },
                            }
            },
};

    var housing_chart = new ApexCharts(document.querySelector("#housing_chart"), options);
    housing_chart.render();
</script>
