<main class="">

  <div id="section_edu_levels" class="mainsection">

    <div class="title_container">
      <h1 class="page-title">Utbildningsnivå - utveckling</h1>
      <p class="source">(Källa: SCB)</p>
    </div>

    <div id="section_chartcontainer-edu_levels_area" class="container-fluid fullchart">
      <div id="edu_levels_bar_chart">
      </div>
    </div>

    <div id="section_chartcontainer-edu_levels_line" class="container-fluid fullchart">
      <div id="edu_levels_line_chart">
      </div>
    </div>

  </div>

  <div class="story_button_container container-fluid">
    <div class="story_button_row row">
      <button onclick="window.location.href='/dashboard';" id="button_1" class="story_button btn btn-success col-md-4 col-4">
        <p class="story_button_text">Tillbaka till översikten</p>
      </button>
      <button onclick="window.location.href='/dashboard';" id="button_2" class="story_button btn btn-success col-md-4 col-4">
        <p class="story_button_text">Tillbaka till översikten</p>
      </button>
      <button onclick="window.location.href='/dashboard';" id="button_3" class="story_button btn btn-success col-md-4 col-4">
        <p class="story_button_text">Tillbaka till översikten</p>
      </button>
    </div>
  </div>

</main>

<!-- Charts -->
<script>
year = $(edu_levels_df.year)
forgymn_less_9 = $(edu_levels_df.forgymn_less_9)
forgymn_9 = $(edu_levels_df.forgymn_9)
gymn_2 = $(edu_levels_df.gymn_2)
gymn_3 = $(edu_levels_df.gymn_3)
eftergymn_less_3 = $(edu_levels_df.eftergymn_less_3)
eftergymn_3 = $(edu_levels_df.eftergymn_3)
forskarutb = $(edu_levels_df.forskarutb)
uppg_saknas = $(edu_levels_df.uppg_saknas)

var options = {
              series: [{
                        name: 'Förgymnasial utbildning kortare än 9 år',
                        type: 'bar',
                        data: forgymn_less_9
              },{
                        name: 'Förgymnasial utbildning, 9 år',
                        type: 'bar',
                        data: forgymn_9
              },{
                        name: 'Gymnasial utbildning, högst 2 år',
                        type: 'bar',
                        data: gymn_2
              },{
                        name: 'Gymnasial utbildning, 3 år',
                        type: 'bar',
                        data: gymn_3
              },{
                        name: 'Eftergymnasial utbildning, mindre än 3 år',
                        type: 'bar',
                        data: eftergymn_less_3
              },{
                        name: 'Eftergymnasial utbildning, 3 år eller mer',
                        type: 'bar',
                        data: eftergymn_3
              },{
                        name: 'Forskarutbildning',
                        type: 'bar',
                        data: forskarutb
              },{
                        name: 'Uppgift om utbildningsnivå saknas',
                        type: 'bar',
                        data: uppg_saknas
              }],
              chart:  {
                      height: '100%',
                      type: 'bar',
                      stacked: true,
                      zoom: {
                            enabled: true
                      },
                      toolbar: {
                           show: true,
                           offsetX: 0,
                           offsetY: 0,
                           tools: {
                             download: false,
                             selection: true,
                             zoom: true,
                             zoomin: false,
                             zoomout: false,
                             pan: true,
                             reset: true
                           }
                      }
                    },
            colors: [colors[0],
                    colors[1],
                    colors[2],
                    colors[3],
                    colors[4],
                    colors[5],
                    colors[6],
                    colors[7]
                  ],
              plotOptions: {
                        bar: {
                          columnWidth: '95%'
                }
              },
              dataLabels: {
                          enabled: false
              },
              stroke: {
                      curve: 'straight',
                      width: 0
              },
              title:  {
                      text: 'Utbildningsnivå - Befolkning totalt',
                      align: 'center'
              },
              grid: {
                    row: {
                          colors: ['transparent'], // takes an array which will be repeated on columns
                          opacity: 0.5
                          },
              },
              xaxis: {
                      categories: year,
                      position: 'bottom',
                      labels: {
                               show: true
                      }
              },
              legend: {
                      position: 'top',
                      horizontalAlign: 'center'
              },
              tooltip: {
                inverseOrder: true,
                x: {
                  show: true
                },
              },
              };

      var edu_levels_bar_chart = new ApexCharts(document.querySelector("#edu_levels_bar_chart"), options);
      edu_levels_bar_chart.render();
  </script>

<script>
year = $(edu_levels_df.year)
forgymn_less_9 = $(edu_levels_df.forgymn_less_9)
forgymn_9 = $(edu_levels_df.forgymn_9)
gymn_2 = $(edu_levels_df.gymn_2)
gymn_3 = $(edu_levels_df.gymn_3)
eftergymn_less_3 = $(edu_levels_df.eftergymn_less_3)
eftergymn_3 = $(edu_levels_df.eftergymn_3)
forskarutb = $(edu_levels_df.forskarutb)
uppg_saknas = $(edu_levels_df.uppg_saknas)

  var options = {
                series: [{
                          name: 'Förgymnasial utbildning kortare än 9 år',
                          type: 'line',
                          data: forgymn_less_9
                },{
                          name: 'Förgymnasial utbildning, 9 år',
                          type: 'line',
                          data: forgymn_9
                },{
                          name: 'Gymnasial utbildning, högst 2 år',
                          type: 'line',
                          data: gymn_2
                },{
                          name: 'Gymnasial utbildning, 3 år',
                          type: 'line',
                          data: gymn_3
                },{
                          name: 'Eftergymnasial utbildning, mindre än 3 år',
                          type: 'line',
                          data: eftergymn_less_3
                },{
                          name: 'Eftergymnasial utbildning, 3 år eller mer',
                          type: 'line',
                          data: eftergymn_3
                },{
                          name: 'Forskarutbildning',
                          type: 'line',
                          data: forskarutb
                },{
                          name: 'Uppgift om utbildningsnivå saknas',
                          type: 'line',
                          data: uppg_saknas
                }],
                chart:  {
                        height: '100%',
                        type: 'line',
                        zoom: {
                              enabled: true
                        },
                        toolbar: {
                             show: true,
                             offsetX: 0,
                             offsetY: 0,
                             tools: {
                               download: false,
                               selection: true,
                               zoom: true,
                               zoomin: false,
                               zoomout: false,
                               pan: true,
                               reset: true
                             }
                        }
                      },
                dataLabels: {
                            enabled: false
                },
              colors: [colors[0],
                      colors[1],
                      colors[2],
                      colors[3],
                      colors[4],
                      colors[5],
                      colors[6],
                      colors[7]
                    ],
                stroke: {
                        curve: 'straight',
                        width: 2
                },
                title:  {
                        text: 'Utbildningsnivå - Utveckling per utbildningsnivå',
                        align: 'center'
                },
                grid: {
                      row: {
                            colors: ['transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                            },
                },
                xaxis: {
                        categories: year,
                        position: 'bottom',
                        labels: {
                                 show: true
                        }
                },
                legend: {
                        position: 'top',
                        horizontalAlign: 'center'
                },
                tooltip: {
                  inverseOrder: true,
                  x: {
                    show: true
                  },
                },
                };

        var edu_levels_line_chart = new ApexCharts(document.querySelector("#edu_levels_line_chart"), options);
        edu_levels_line_chart.render();
    </script>
