<main class="">
  <div id="intro_title" class="container mainsection">
    <h1>Hur går det för Sverige?</h1>
    <h3>Och hur går det för Sveriges politiker?</h3>
    </br>
    <p class="intro">Det här projektet har två huvudsyften. Det första är att ge en överblick över läget i Sverige.
    Det har snurrat en hel del olika rykten från olika håll, speciellt under valår.
    Vissa menar att allt är på väg åt fel håll, medan andra menar att allt pekar uppåt.
    Vem har rätt? Jag vet inte, för jag vet inte vad vilka kriterier man utvärderar ett land utifrån.
    Hur vet man om det går bra, eller om det går dåligt? Ett av de två syftena med det här projektet var att lära mig
    hur man kan utvärdera hur det går för ett land.</p>
    </br>
    <p class="intro">Det andra syftet var att lära mig hur man kan utvärdera de som leder landet, politikerna. Ett företag har en VD, som är ansvarig ledare,
    och styrelsen och aktieägarna har ofta hyfsat bra koll på om företaget går bra eller dåligt, och om VD:n gör ett bra eller dåligt jobb.
    Men om jag ska vara ärlig har jag ganska dålig koll på vad politikerna sysslar med. Jag vet teorin bakom val, riksdag och regering, men vet
    ganska lite om vad de gör, vilka förslag de lägger fram och röstar igenom, och hur de styr landet. Man skulle kunna säga att jag är en aktieägare
    i ett företag, och att jag har väldigt dålig koll på hur VD:n (regeringen) och styrelsen (riksdagen) sköter sig. Jag vet inte om de tar alla mina
    skattepengar och gör Sverige (och mitt liv) bättre, eller om de tar dåliga beslut, spenderar skattepengar på dåliga saker och gör landet sämre.
    Det känns lite konstigt, att inte kunna mer om hur det går för mitt land eller hur dess ledare sköter sig.</p>
    </br>
    <p class="intro">Lyckligtvis kan man ta reda på det. Det finns en massa öppna data som flyter omkring i cyberrymden, som man kan använda för att kolla hur det går, och
    som man kan använda för att mäta hur det går för Sverige, och hur politikerna sköter sig. Förhoppningsvis är det lika lärorikt för dig att läsa som
    det var för mig att bygga!</p>
    </br>
    <p class="intro">I korthet går det här projektet ut på två saker: Det första är att ge en lägesbild, baserad på det förflutna, av landet, och en prediktiv bild av framtiden. Det andra är att ge en bild av politikernas inblandning i utvecklingen. Vad har politikerna gjort, och vad har det fått för effekt?</p>
  </div>
</main>
